<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
    <script src="/js/t.components.js"></script>
    <script src="/js/richtext.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header active">
			<a name="top" />
          <a class="navbar-brand" href="/tangrammy">Tangrammy</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li><a href='/' title=''>Home</a></li>
			<li><a href='/todo/list' title=''>Todo</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
    </div>
	<div id="container" class="container" style="padding-top:60px;padding-bottom:60px;">
	
	<div class="well">
		<h1 class="text-center" style="font-size: 48px;">TangramMy</h1>
		<p>The tangrammy is a system enable DIY your own services. Its idea comes from <a target="_blank" href="http://en.wikipedia.org/wiki/Tangram"><img src="/img/favicon.ico">tangram</a>, and is implemented by NodeJS, Bootstrap, jQuery.
 		<ul><li>Builds service fast - it takes <0.5 hour to build a new service.</li>
		<li>Changes with needs - it is easy to make changes to achive new requirement.</li>
		<li>Gets start easily - all services are displayed in one view and simple.</li></ul></p>
</div>
<div class="col-md-12"><div class="row">
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("TF0/V1")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=24A6M35&Title=" contenteditable="true">Roles</span> <small>(TF0.V1)</small> </h3>
		<small><a href="/roles/list">http://~/roles/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=24A6M35&Description=" contenteditable="true">This application is used to define user role in this system.</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=24A6M35" title="Rebuild application[Roles] to active changes">Rebuild</a>
			<a href="/T/show?Rid=24A6M35" title="View define detail of application[Roles]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=24A6M35" title="Edit [Roles]"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/copy?Rid=24A6M35" title="Create a new one based on application[Roles]"><img class="icon15" src="/img/copy.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("T1/V1")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=16WRUTP&Title=" contenteditable="true">Todo</span> <small>(T1.V1)</small> </h3>
		<small><a href="/todo/list">http://~/todo/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=16WRUTP&Description=" contenteditable="true">Todo list for Tangrammy tasks. <br />
To manage todo in "Initial", "In progress" and "Paused" status.</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=16WRUTP" title="Rebuild application[Todo] to active changes">Rebuild</a>
			<a href="/T/show?Rid=16WRUTP" title="View define detail of application[Todo]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=16WRUTP" title="Edit [Todo]"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/copy?Rid=16WRUTP" title="Create a new one based on application[Todo]"><img class="icon15" src="/img/copy.png"></a>
			<a name="remove" href="javascript:;" url="/T/remove?Rid=16WRUTP" title="Remove application[Todo]"><img class="icon15" src="/img/remove.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("TF1/V1")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=25RFV24&Title=" contenteditable="true">Users</span> <small>(TF1.V1)</small> </h3>
		<small><a href="/users/list">http://~/users/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=25RFV24&Description=" contenteditable="true">Users in current system</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=25RFV24" title="Rebuild application[Users] to active changes">Rebuild</a>
			<a href="/T/show?Rid=25RFV24" title="View define detail of application[Users]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=25RFV24" title="Edit [Users]"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/copy?Rid=25RFV24" title="Create a new one based on application[Users]"><img class="icon15" src="/img/copy.png"></a>
		</div>
	</div>
<% } %>
	<div class="list-app">
		<h3><small>Rebuild: </small><a name="onemsg" href="javascript:;" url="/T/create">All Applications</a></h3><br />
		<p class="text-center"><a href="/T/new" class="btn btn-lg btn-default" title="Add New Application"><img src="/img/add.png"> Application</a></p>
		<div class="text-right"><a href="https://github.com/ItMan70s/Tangrammy/">View TangramMy on GitHub</a></div>
</div>
</div>

	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hide"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hide"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<hr />
	<footer>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin pull-left">
		<li><label>Dependencies：</label></li>
		<li><a target="_blank" href="https://nodejs.org/">NodeJS</a></li>
		<li><a target="_blank" href="http://www.mongodb.org/">mongoDB</a></li>
		<li><a target="_blank" href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
		<li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
		<li><a target="_blank" href="https://github.com/">GitHub</a></li>
		<li><a target="_blank" href="http://itman70s.github.io/richtext">Rich Text</a></li>
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.4.0</a> at 2015.
	</div>
	</footer>
	</div>
	<a name="bottom" > </a>
</body>
</html>

