<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Tangrammy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<link rel="icon" type="image/ico" href="/img/favicon.ico">
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/css/font-awesome.css' />
	<!--[if IE 7]>
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!--[if lte IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
	<script src="/js/json2.min.js"></script>
	<![endif]-->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<script src="/js/jquery.hotkeys.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.file-input.js"></script>
    <script src="/js/t.components.js"></script>
    <script src="/js/richtext.js"></script>
	<script src="/js/tangrammy.js"></script>
</head>
<body style="background-color: #f7f7f9">
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header active">
			<a name="top" />
          <a class="navbar-brand" href="/">精益管理</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav tops">
            			<li><a href='/zcar/list' title=''>ZCar</a></li>
			<li><a href='/todo/list' title=''>Unknown</a></li>
			<li><a href='/release/list' title=''>ZCarRelease</a></li>

          </ul>
          <ul class="nav navbar-nav pull-right">
<% if (request && request.u.user.name)  { %>
        <li class="dropdown" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= request.u.user.name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= request.u.userurl %>">Detail</a></li>
            <li><a href="javascript:changePassword('<%= request.u.userurl.substring(request.u.userurl.indexOf("=") + 1) %>', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% } else  {%>
            <li><a href="javascript:;" url='/i/login' name="login">Login</a></li>
            <li><a href="javascript:reg()" name="reg">Regester</a></li>
        <li class="dropdown hidden" name="userinfo">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">uname<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="userurl">Detail</a></li>
            <li><a href="javascript:changePassword('rid', 'F2')">Change Password</a></li>
            <li><a href="/i/logout">Logout</a></li>
          </ul>
        </li>
<% }%>
          </ul>
        </div><!--/.nav-collapse -->
		<a target="_blank" href="https://github.com/ItMan70s/tangrammy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Fork me on GitHub"></a>
      </div>
</header>
<div style="background-color: #FFF; padding-top:60px;"><div id="container" class="container">
	
	<div class="well">
		<h2 style="margin-top: 0px;">Tangrammy</h2>
		<p>The tangrammy is a system enable DIY your own services. Its idea comes from <a target="_blank" href="http://en.wikipedia.org/wiki/Tangram"><img style="height: 20px;" src="/img/favicon.ico">tangram</a>, and is implemented by NodeJS, Bootstrap, jQuery.
 		<ul><li>Builds service fast - it takes <0.5 hour to build a new service.</li>
		<li>Changes with needs - it is easy to make changes to achive new requirement.</li>
		<li>Gets start easily - all services are displayed in one view and simple.</li></ul></p>
</div>
<div class="col-md-12"><div class="row">
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("TB/V1")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=8II9UQ5&Title=" contenteditable="true" orginal="Title8II9UQ5">Issues</span> <small>(TB.V1)</small> </h3>
		<p name="Title8II9UQ5" class="hide" >Issues</p>
		<small><a href="/issues/list">http://~/issues/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=8II9UQ5&Description=" contenteditable="true" orginal="Description8II9UQ5">跟踪照护系统的问题</p>
		<p name="Description8II9UQ5" class="hide" >跟踪照护系统的问题</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=8II9UQ5&format=json" title="Rebuild application[Issues] to active changes">Rebuild</a>
			<a href="/T/show?Rid=8II9UQ5" title="View define detail of application[Issues]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=8II9UQ5" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=8II9UQ5&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=8II9UQ5" title="Create a new one based on application[Issues]"><img class="icon15" src="/img/copy.png"></a>
			<a name="remove" href="javascript:;" url="/T/remove?Rid=8II9UQ5" title="Remove application[Issues]"><img class="icon15" src="/img/remove.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("TF0/V1")) { %>
	<div class="list-app">
		<h3><small>[Hidden]</small><span name="blurupdate" url="/T/update?Rid=24A6M35&Title=" contenteditable="true" orginal="Title24A6M35">Roles</span> <small>(TF0.V1)</small> </h3>
		<p name="Title24A6M35" class="hide" >Roles</p>
		<small><a href="/roles/list">http://~/roles/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=24A6M35&Description=" contenteditable="true" orginal="Description24A6M35">用于定义系统内的用户角色已经相应的应用访问权限。</p>
		<p name="Description24A6M35" class="hide" >用于定义系统内的用户角色已经相应的应用访问权限。</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=24A6M35&format=json" title="Rebuild application[Roles] to active changes">Rebuild</a>
			<a href="/T/show?Rid=24A6M35" title="View define detail of application[Roles]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=24A6M35" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=24A6M35&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=24A6M35" title="Create a new one based on application[Roles]"><img class="icon15" src="/img/copy.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("TF1/V3")) { %>
	<div class="list-app">
		<h3><small>[Disabled]</small><span name="blurupdate" url="/T/update?Rid=25S65R7&Title=" contenteditable="true" orginal="Title25S65R7">UserLogin</span> <small>(TF1.V3)</small> </h3>
		<p name="Title25S65R7" class="hide" >UserLogin</p>
		<small><a href="/login/list">http://~/login/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=25S65R7&Description=" contenteditable="true" orginal="Description25S65R7">系统内的用户登陆</p>
		<p name="Description25S65R7" class="hide" >系统内的用户登陆</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=25S65R7&format=json" title="Rebuild application[UserLogin] to active changes">Rebuild</a>
			<a href="/T/show?Rid=25S65R7" title="View define detail of application[UserLogin]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=25S65R7" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=25S65R7&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=25S65R7" title="Create a new one based on application[UserLogin]"><img class="icon15" src="/img/copy.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("TF1/V1")) { %>
	<div class="list-app">
		<h3><small>[Hidden]</small><span name="blurupdate" url="/T/update?Rid=25RFV24&Title=" contenteditable="true" orginal="Title25RFV24">Users</span> <small>(TF1.V1)</small> </h3>
		<p name="Title25RFV24" class="hide" >Users</p>
		<small><a href="/users/list">http://~/users/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=25RFV24&Description=" contenteditable="true" orginal="Description25RFV24">Users in current system</p>
		<p name="Description25RFV24" class="hide" >Users in current system</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=25RFV24&format=json" title="Rebuild application[Users] to active changes">Rebuild</a>
			<a href="/T/show?Rid=25RFV24" title="View define detail of application[Users]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=25RFV24" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=25RFV24&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=25RFV24" title="Create a new one based on application[Users]"><img class="icon15" src="/img/copy.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("T7/V1")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=3WFWJJ9&Title=" contenteditable="true" orginal="Title3WFWJJ9">Words</span> <small>(T7.V1)</small> </h3>
		<p name="Title3WFWJJ9" class="hide" >Words</p>
		<small><a href="/words/list">http://~/words/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=3WFWJJ9&Description=" contenteditable="true" orginal="Description3WFWJJ9">名词解释2</p>
		<p name="Description3WFWJJ9" class="hide" >名词解释2</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=3WFWJJ9&format=json" title="Rebuild application[Words] to active changes">Rebuild</a>
			<a href="/T/show?Rid=3WFWJJ9" title="View define detail of application[Words]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=3WFWJJ9" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=3WFWJJ9&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=3WFWJJ9" title="Create a new one based on application[Words]"><img class="icon15" src="/img/copy.png"></a>
			<a name="remove" href="javascript:;" url="/T/remove?Rid=3WFWJJ9" title="Remove application[Words]"><img class="icon15" src="/img/remove.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("T1/V1")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=1GIDHPMA&Title=" contenteditable="true" orginal="Title1GIDHPMA">ZCar</span> <small>(T1.V1)</small> </h3>
		<p name="Title1GIDHPMA" class="hide" >ZCar</p>
		<small><a href="/zcar/list">http://~/zcar/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=1GIDHPMA&Description=" contenteditable="true" orginal="Description1GIDHPMA">用于管理项目的各种属于我的事项。 </p>
		<p name="Description1GIDHPMA" class="hide" >用于管理项目的各种属于我的事项。 </p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=1GIDHPMA&format=json" title="Rebuild application[ZCar] to active changes">Rebuild</a>
			<a href="/T/show?Rid=1GIDHPMA" title="View define detail of application[ZCar]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=1GIDHPMA" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=1GIDHPMA&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=1GIDHPMA" title="Create a new one based on application[ZCar]"><img class="icon15" src="/img/copy.png"></a>
			<a name="remove" href="javascript:;" url="/T/remove?Rid=1GIDHPMA" title="Remove application[ZCar]"><img class="icon15" src="/img/remove.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("T1/V2")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=1GJIHC1B&Title=" contenteditable="true" orginal="Title1GJIHC1B">ZCarRelease</span> <small>(T1.V2)</small> </h3>
		<p name="Title1GJIHC1B" class="hide" >ZCarRelease</p>
		<small><a href="/release/list">http://~/release/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=1GJIHC1B&Description=" contenteditable="true" orginal="Description1GJIHC1B">用于管理项目的各种属于我的事项。 </p>
		<p name="Description1GJIHC1B" class="hide" >用于管理项目的各种属于我的事项。 </p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=1GJIHC1B&format=json" title="Rebuild application[ZCarRelease] to active changes">Rebuild</a>
			<a href="/T/show?Rid=1GJIHC1B" title="View define detail of application[ZCarRelease]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=1GJIHC1B" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=1GJIHC1B&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=1GJIHC1B" title="Create a new one based on application[ZCarRelease]"><img class="icon15" src="/img/copy.png"></a>
			<a name="remove" href="javascript:;" url="/T/remove?Rid=1GJIHC1B" title="Remove application[ZCarRelease]"><img class="icon15" src="/img/remove.png"></a>
		</div>
	</div>
<% } %>
<% if (!request.u.apps || request.u.apps.contains("*") || request.u.apps.contains("T5/V2")) { %>
	<div class="list-app">
		<h3><span name="blurupdate" url="/T/update?Rid=3W8AQQW&Title=" contenteditable="true" orginal="Title3W8AQQW">lend</span> <small>(T5.V2)</small> </h3>
		<p name="Title3W8AQQW" class="hide" >lend</p>
		<small><a href="/lend/list">http://~/lend/list </a> </small> <br /> 
		<p name="blurupdate" url="/T/update?Rid=3W8AQQW&Description=" contenteditable="true" orginal="Description3W8AQQW">房贷</p>
		<p name="Description3W8AQQW" class="hide" >房贷</p>
		<div class="text-right">
			<a class="btn btn-xs" name="onemsg" href="javascript:;" url="/T/create?Rid=3W8AQQW&format=json" title="Rebuild application[lend] to active changes">Rebuild</a>
			<a href="/T/show?Rid=3W8AQQW" title="View define detail of application[lend]"><img class="icon15" src="/img/detail.png"></a>
			<a href="/T/update?Rid=3W8AQQW" title="Edit Define"><img class="icon15" src="/img/edit.png"></a>
			<a href="/T/update?Rid=3W8AQQW&dl=layout" title="Edit Layout"><img class="icon15" src="/img/edit2.png"></a>
			<a href="/T/copy?Rid=3W8AQQW" title="Create a new one based on application[lend]"><img class="icon15" src="/img/copy.png"></a>
			<a name="remove" href="javascript:;" url="/T/remove?Rid=3W8AQQW" title="Remove application[lend]"><img class="icon15" src="/img/remove.png"></a>
		</div>
	</div>
<% } %>
	<div class="list-app">
		<h3><small>Rebuild: </small><a name="onemsg" href="javascript:;" url="/T/create?format=json">All Applications</a></h3><br />
		<p class="text-center"><a href="/T/new" class="btn btn-lg btn-default" title="Add New Application"><img src="/img/add.png"> Application</a></p>
		<div class="text-right"><a href="https://github.com/ItMan70s/Tangrammy/">View TangramMy on GitHub</a></div>
</div>
</div>

	<div class="go-top">
	<div class="btn-group">
		<a href="#" class="btn btn-default hide"></a>
		<a href="javascript:;" id="scrollTop" class="btn btn-default glyphicon glyphicon-open"></a>
		<a href="javascript:;" id="scrollBack" class="btn btn-default glyphicon glyphicon-chevron-up"></a>
		<a href="javascript:;" id="scrollNext" class="btn btn-default glyphicon glyphicon-chevron-down"></a>
		<a href="#bottom" class="btn btn-default glyphicon glyphicon-save"></a>
		<a href="#" class="btn btn-default hide"></a>
	</div>
	</div>
<script>
	<%- (("" || warning).length > 0) ?  'var warning = \'' + warning.replace(/'/g, "\\'") + '\'; \n  setTimeout("warn(warning)", 2);' : '' %>
	
</script>
	<div id="ModalView"></div>
<div class="modal" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="glyphicon glyphicon-remove list-item win-close" title="Close" close="modal"></button>
		<h3 class="modal-title">Modal title</h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn  btn-success confirm-btn" data-dismiss="modal" style="min-width:80px;">OK</a>
        <a href="#" class="btn confirm-cancelbtn" style="min-width:80px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
	<a name="bottom" > </a>
</div></div>
	
<footer style="border-top: 1px solid #e1e1e8; padding: 15px 0;">
<div class="container padding0">
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin" style="text-align: left;">
		<li><label>推荐网站: </label></li>
		<li><a href="http://mgcrea.github.io/angular-strap/#" target="_blank" title="">Angular Strap</a></li>
		<li><a href="http://www.apjs.net/" target="_blank" >Angular中文网</a></li>
		<li><a href="http://docs.ngnice.com/api/ng/service/$q" target="_blank" >Angular API</a></li>
		<li><a href="http://www.whycss.com/" target="_blank" >前端网址导航</a></li>
		<li><a href="http://ionichina.cn/docs/components/" target="_blank" >Ionic</a></li>
		<li><a href="http://codepen.io/ionic/public-list/" target="_blank" >Ionic Codes</a></li>
		<li><a href="http://www.bootcss.com/p/layoutit/#" target="_blank" >Bootstrap布局</a></li>
		</ul>
	</div>
	<div class="col-md-12 form-group small">
		<ul class="pager nomargin" style="text-align: left;">
		<li><label>友情链接: </label></li>
		<li><a href="http://kunkkawu.com" target="_blank" title="吴坤的博客">吴坤的博客</a></li>
		<li><a href="http://www.yaozihao.cn" target="_blank" title="子豪的博客">子豪的博客</a></li>
		<li><a href="http://www.cnblogs.com/itman70s" target="_blank">Job的博客</a></li>
		<li><a href="http://itman70s.github.io/richtext/" target="_blank">富文本控件</a></li>
		<li><label>小工具: </label></li>
		<li><a href="/base64.html" target="_blank">Base64转换</a></li>
		<li><a href="/super.html" title="代码同步等小工具">小工具</a></li>		
		<li><a href="#" download=".xls" title="尝试下载当前页面数据">下载</a></li>		
		</ul>
	</div>
	<div class="col-md-12 right">
		Created by <a href="https://github.com/ItMan70s/Tangrammy/">Tangrammy 0.3.0</a> at 2016
	</div>
</div>
</footer>
</body>
</html>